body {
  padding: 0px;
  margin: 0px;
  font: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/ShgZIez.jpg");
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.special-font{
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#disabled {
background:rgb(0, 0, 0, 0.2)
}

a:hover{
  text-decoration: none;
  background-color:rgb(255, 255, 255, 0.8)
}

.btn:not(.searchbtn){
  padding: 4px 8px
}

header {
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #282828;
  width: 100%;
  opacity: 0.7;
}
header  div {
  margin: 30px;
}

header > a:last-child, header > .username {
  margin-left: auto;
}

.container {
  list-style-type: none;
  flex-direction: column;
  display:flex;
  justify-content: center;
}

.image{
  width:30%;
}

ul{
  list-style-type: none;
  padding: 0px;
  margin: 20px;
}

li{
  display:flex;
  justify-content: flex-start;
  margin: 5px;
}

img {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.info > div {
  padding: 4px
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left:auto;
  align-items: flex-end;
}
#r {
  padding-left: 0px
}
.forms {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.forms div {
  padding: 0px 0px 20px 0px;
}

#remember{
  padding: 5px;
}

.forms .text{
  font-size: 11px;
  padding: 0px;
  text-align: left;
}

#remember {
  margin: 0px 3px 0px 0px;
}

#login {
  margin: 5px;
}

#signup {
  margin: 15px
}

#login-page {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
}

textarea {
  max-width: 30vh;
  max-height: 150px;
  min-width: 30vh;
  min-height: 150px;
}

.new-review {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-review > div {
  padding: 0px 0px 20px 0px
}

.error {
  padding: 10px;
  margin: 10px;
  color: white;
}

.page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 15px 0px
}

.page > * {
  padding: 0px 10px;
}

.selected {
  color: rgb(0, 0, 0)
}

.review {
  display:flex;
  flex-direction: column;
  align-items: center;
}

table {
  text-align: left;
  width: 500px
}

td{
  white-space: nowrap;
}


.list {
  display: flex;
  flex-direction: row;
}

.list > * {
  padding: 3px 3px 3px 0px;
}

.container {
  margin: 10px
}

.rounded {
  width: 20rem
}

.form-inline.search {
  display: flex;
  justify-content: center;
}


.jumbotron.game {
  margin-bottom: 0;
  padding: 20px 10px
}

.jumbotron {
  background: rgb(0, 0, 0, 0.1);
}

.login-btn {
  padding: 5px
}

.text.member {
  padding-top:1rem;
  padding-bottom: 1rem
}

.user-game-image {
  width: 10rem
}

.user-watchlist, .game-review {
  align-items: center;
  padding: 1rem;
  background:rgb(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.user-watchlist > form{
  margin-left: auto;
}

.review-link {
  display:flex;
  justify-content: center;
}

.carousel-control {
  width: 0;
}

.item > img {
  max-height: 595px;
}

.index-review {
  margin-top:30px
}

.index-review-box {
  min-height: 10vh
}

.user-avatar {
  max-height: 100px;
  max-width: 100px;
}

.game-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 0px
}

h2 {
  margin-top: 0;
}

.row, .desc {
  color: white !important
}

#search-input {
  width: 350px;
}

#btn {
  color: rgb(31, 31, 153)
}
.form-control {
  background:rgb(0, 0, 0, 0.2);
  color: white
}
#review-avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-review{
  display: flex;
  flex-direction: column;
}

#review {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width:300px
}

#delete-review {
  display: flex;
  align-items: center;
}

.form-check-input[type=checkbox] {
  margin: 4px 4px 4px
}

.form-style {
  margin-top: 10px
}

.new-game-btn {
  margin-top: 10px
}

.rate {
  float: left;
  height: 32px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#review-box {
  align-items:center;
  border:1px dotted rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.1);
  display:flex;
  padding: 1rem;
  border-radius: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
#review-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%
}
#review-rating > :last-child {
  margin-left: auto;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color:white
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.attribution {
  font-size: 12px;
  color: #444;
  text-decoration: none;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}
.attribution:hover {
  color: #1fa67a;
}






@media only screen and (max-width: 572px) {
header {
  flex-direction: column;
}
header > a:last-child, header > .username {
  margin-left: initial;
}
.page > * {
  padding: 0px 5px;
}
#search-input {
  width: 170px;
}
.special-font{
  font-size: 14px;
}

li {
  flex-direction: column;
}
.rating {
  align-items: flex-start;
  margin-left: initial;
  padding-left: 0px;
}
.info {
  padding: 0px
}
.info > div {
  padding: 0px
}
img:not(.user-avatar) {
  min-width: 150px
}
.btn:not(.searchbtn){
  padding: 2px 4px
}
#review {
  max-width: 200px;
  min-width: 200px;
}
}